@model List<Category>

@if (TempData["basarili"] != null)
{
    <h2 class="text-danger">@TempData["basarili"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Kategoriler</h1>
        </div>
    </div>
    <table class="table" id="tablo">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kategori Adı</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-warning btn-lg" type="button" asp-controller="Category"
                           asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-lg" type="button" asp-controller="Category"
                           asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row pt-3 pb-2">
        <div>
            <a class="btn btn-success btn-lg" type="button" asp-controller="Category" asp-action="Add" style="border-radius: 10px">Yeni Kategori Oluştur</a>
        </div>
    </div>
</div>
